body {
	background: url(../images/default/welcome-bg.gif) top left;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 15px;
	padding-left: 15px;
}

a {
	color: #083772;
}

a:link {
	color: #083772;
	text-decoration: none;
}

a:visited {
	color: #1e4e8f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #0000CC;
}

.col {
	width: 100%;
	float: left;
	margin-left: 2px;
}

.block {
	border: 3px solid #B2D0F7;
	background: #ffffff url(../images/block-bg.gif) repeat-x;
	margin-top: 0px;
}

.block-title {
	color: #083772;
	font-weight: bold;
	padding: 2px;
	padding-left: 2px;
}

.block-body {
	padding: 2px;
	padding-top: 2px;
}

.block-body b {
	color: #333333;
	font-size: 11px;
}

.block-body em {
	display: block;
	margin-top: 0px;
	font-size: 11px;
	color: gray;
	text-align: right;
}

.list {
	list-style: square;
	padding-left: 20px;
	margin-top: 5px;
}

.ytoolbar {
	border: 1px solid #c3d3ed;
	padding: 1px;
	background: #c3d3ed url(../images/default/toolbar/test.gif) repeat-x;
	white-space: nowrap;
	font: normal 8pt arial, helvetica;
}

.updated {
	background: #CFEBF7 no-repeat 1em;
	border: 1px solid #2580B2;
	font: normal 12pt arial, helvetica;
	padding: 0 1em 0 3em;
}

.text {
	cursor: pointer;
	background: #c3d3ed url(../images/default/toolbar/g.gif) repeat-x;
	border: 1px solid #c3d3ed;
	width: 14px;
	font-size: 10px;
}

.text:hover {
	background: #00FF99;
	border-style: outset;
	border-width: 1px;
}

.textlong {
	cursor: pointer;
	background: #c3d3ed url(../images/default/toolbar/g.gif) repeat-x;
	border: 2px solid #c3d3ed;
	padding: 1px 2px;
	width: 90px;
	text-decoration: none;
}

.textcalendar {
	cursor: pointer;
	background: #c3d3ed url(../images/default/toolbar/g.gif) repeat-x;
	border: 2px solid #c3d3ed;
	padding: 1px 2px;
	width: 100px;
	text-decoration: none;
}

.textbox1 {
	height: 16px;
	width: 400px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #ffffff;
}

.textbox:hover {
	height: 16px;
	width: 400px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #cccccc;
}

.x-menu {
	border: 1px solid;
	border-color: #96b9e6 #8BB8F3 #8BB8F3 #96b9e6;
	z-index: 15000;
	background: #c3daf9;
	padding: 2px;
}

.x-menu-list {
	background: #fafafa;
	border: 1px solid #fff;
	border-color: #a3bad9;
}

.x-menu-item-icon {
	margin-right: 8px;
}

.x-menu-sep {
	margin-left: 3px;
}

.x-menu-item-active {
	color: #233d6d;
	background: #c3daf9;
	border: 1px solid #fff;
	padding: 0;
}

.x-date-mmenu .x-menu-list {
	padding: 0;
}

.x-date-mmenu .x-menu-list {
	border: 0 none;
}

.x-menu .x-color-palette,.x-menu .x-date-picker {
	margin-left: 26px;
}

.x-menu-plain .x-color-palette,.x-menu-plain .x-date-picker {
	margin: 0;
	border: 0 none;
}
/**
* Tabs
*/
.x-tabs-wrap,.x-layout-panel .x-tabs-top .x-tabs-wrap {
	background: #deecfd;
	border: 1px solid #8db2e3;
	padding-bottom: 2px;
	padding-top: 0;
}

.x-tabs-strip-wrap {
	padding-top: 1px;
	border-bottom: 1px solid #8db2e3;
}

.x-tabs-strip .x-tabs-text {
	color: #15428b;
	font-weight: normal;
}

.x-tabs-strip .on .x-tabs-text {
	cursor: default;
	color: #15428b;
}

.x-tabs-top .x-tabs-strip .on .x-tabs-right {
	background: url(../images/default/tabs/tab-sprite.gif) no-repeat right 0;
}

.x-tabs-top .x-tabs-strip .on .x-tabs-left,.x-tabs-top .x-tabs-strip .on a:hover .x-tabs-left
	{
	background: url(../images/default/tabs/tab-sprite.gif) no-repeat 0
		-100px;
}

.x-tabs-top .x-tabs-strip .x-tabs-right {
	background: transparent url(../images/default/tabs/tab-sprite.gif)
		no-repeat right -50px;
}

.x-tabs-top .x-tabs-strip .x-tabs-left {
	background: transparent url(../images/default/tabs/tab-sprite.gif)
		no-repeat 0 -150px;
}

.x-tabs-top .x-tabs-body {
	border: 1px solid #8db2e3;
	border-top: 0 none;
}

.x-tabs-bottom .x-tabs-wrap,.x-layout-panel .x-tabs-bottom .x-tabs-wrap
	{
	background: #deecfd;
	border: 1px solid #8db2e3;
	padding-top: 2px;
	padding-bottom: 0;
}

.x-tabs-bottom .x-tabs-strip-wrap {
	padding-top: 0;
	padding-bottom: 1px;
	background: #cedff5 url(../images/default/tabs/tab-strip-btm-bg.gif)
		repeat-x top;
	border-top: 1px solid #8db2e3;
	border-bottom: 0 none;
}

.x-tabs-bottom .x-tabs-strip .x-tabs-right {
	background: transparent
		url(../images/default/tabs/tab-btm-inactive-right-bg.gif) no-repeat
		bottom right;
}

.x-tabs-bottom .x-tabs-strip .x-tabs-left {
	background: transparent
		url(../images/default/tabs/tab-btm-inactive-left-bg.gif) no-repeat
		bottom left;
}

.x-tabs-bottom .x-tabs-strip .on .x-tabs-right,.x-tabs-bottom .x-tabs-strip .on a:hover
	{
	background: url(../images/default/tabs/tab-btm-right-bg.gif) no-repeat
		bottom left;
}

.x-tabs-bottom .x-tabs-strip .on .x-tabs-left,.x-tabs-bottom .x-tabs-strip .on a:hover .x-tabs-left
	{
	background: url(../images/default/tabs/tab-btm-left-bg.gif) no-repeat
		bottom right;
}

.x-tabs-bottom .x-tabs-body {
	border: 1px solid #8db2e3;
	border-bottom: 0 none;
}
/*
* Basic-Dialog 
*/
.x-dlg-proxy {
	background: #C7DFFC;
	border: 1px solid #A5CCF9;
}

.x-dlg-shadow {
	background: #cccccc;
}

.x-dlg {
	background: transparent;
}

.x-dlg .x-dlg-hd {
	background: url(../images/default/basic-dialog/hd-sprite.gif) repeat-x 0
		-82px;
	background-color: #aabaca;
	color: #15428b;
	padding-top: 7px;
}

.x-dlg .x-dlg-hd-left {
	background: url(../images/default/basic-dialog/hd-sprite.gif) no-repeat
		0 -41px;
}

.x-dlg .x-dlg-hd-right {
	background: url(../images/default/basic-dialog/hd-sprite.gif) no-repeat
		right 0;
}

.x-dlg .x-dlg-dlg-body {
	padding: 0 0 0;
	position: absolute;
	top: 24px;
	left: 0;
	z-index: 1;
	border: 0 none;
	background: transparent;
}

.x-dlg .x-dlg-bd {
	background: #fff;
	border: 1px solid #96b9e6;
}

.x-dlg .x-dlg-ft {
	border: 0 none;
	background: transparent;
	padding-bottom: 8px;
}

.x-dlg .x-dlg-bg-center {
	padding: 2px 7px 7px 7px;
	background: transparent
		url(../images/default/basic-dialog/bg-center.gif) repeat-x bottom;
}

.x-dlg .x-dlg-bg-left {
	padding-left: 7px;
	background: transparent url(../images/default/basic-dialog/bg-left.gif)
		no-repeat bottom left;
}

.x-dlg .x-dlg-bg-right {
	padding-right: 7px;
	background: transparent url(../images/default/basic-dialog/bg-right.gif)
		no-repeat bottom right;
}

.x-dlg-auto-tabs .x-dlg-dlg-body,.x-dlg-auto-layout .x-dlg-dlg-body {
	background: transparent;
	border: 0 none;
}

.x-dlg-auto-tabs .x-dlg-bd,.x-dlg-auto-layout .x-dlg-bd {
	background: #fff;
	border: 1px solid #e9f3f5;
}

.x-dlg-auto-tabs .x-tabs-top .x-tabs-body,.x-dlg-auto-tabs .x-tabs-bottom .x-tabs-body
	{
	border-color: #8db2e3;
}

.x-dlg-auto-tabs .x-tabs-top .x-tabs-wrap,.x-dlg-auto-tabs .x-tabs-bottom .x-tabs-wrap
	{
	border-color: #8db2e3;
}

.x-dlg .x-dlg-toolbox {
	width: 50px;
	height: 20px;
	right: 5px;
	top: 5px;
}

.x-dlg .x-dlg-close,.x-dlg .x-dlg-collapse {
	width: 21px;
	height: 20px;
	margin: 0;
}

.x-dlg .x-dlg-close {
	background-image: url(../images/default/basic-dialog/default-close.gif);
}

.x-dlg .x-dlg-collapse {
	background-image: url(../images/default/basic-dialog/collapse.gif);
}

.x-dlg-collapsed {
	border-bottom: 1px solid #96b9e6;
}

.x-dlg .x-dlg-close-over {
	background-image:
		url(../images/default/basic-dialog/default-close-over.gif);
}

.x-dlg .x-dlg-collapse-over {
	background-image: url(../images/default/basic-dialog/collapse-over.gif);
}

.x-dlg-collapsed .x-dlg-collapse {
	background-image: url(../images/default/basic-dialog/expand.gif);
}

.x-dlg-collapsed .x-dlg-collapse-over {
	background-image: url(../images/default/basic-dialog/expand-over.gif);
}

.x-dlg div.x-resizable-handle-east {
	background-image: url(../images/default/s.gif);
	border: 0 none;
}

.x-dlg div.x-resizable-handle-south {
	background-image: url(../images/default/s.gif);
	border: 0 none;
}

.x-dlg div.x-resizable-handle-west {
	background-image: url(../images/default/s.gif);
	border: 0 none;
}

.x-dlg div.x-resizable-handle-southeast {
	background-image: url(../images/default/basic-dialog/se-handle.gif);
	background-position: bottom right;
	width: 9px;
	height: 9px;
	border: 0;
	right: 2px;
	bottom: 2px;
}

.x-dlg div.x-resizable-handle-southwest {
	background-image: url(../images/default/s.gif);
	background-position: top right;
	margin-left: 1px;
	margin-bottom: 1px;
	border: 0;
}

.x-dlg div.x-resizable-handle-north {
	background-image: url(../images/default/s.gif);
	border: 0 none;
}

#x-msg-box .x-dlg-bd {
	background: #CFE0F5;
	border: 0 none;
}

body.x-masked #x-msg-box .x-dlg-bd,body.x-body-masked #x-msg-box .x-dlg-bd
	{
	background: #c4d2e3;
	border: 0 none;
}
/* BorderLayout */
.x-layout-container {
	background: #deecfd;
}

.x-layout-collapsed {
	background-color: #deecfd;
	border: 1px solid #99bbe8;
}

.x-layout-collapsed-over {
	background-color: #F5F9FE;
}

.x-layout-panel {
	border: 1px solid #99bbe8;
}

.x-layout-nested-layout .x-layout-panel {
	border: 0 none;
}

.x-layout-split {
	background-color: #deecfd;
}

.x-layout-panel-hd {
	background: #ebeadb url(../images/default/grid/mso-hd.gif) repeat-x;
	border-bottom: 1px solid #99bbe8;
}

.x-layout-panel-hd-text {
	color: #15428b;
	font: bold 11px tahoma, arial, verdana, sans-serif;
}

.x-layout-split-h {
	background: #deecfd;
}

.x-layout-split-v {
	background: #deecfd;
}

.x-layout-panel .x-tabs-top .x-tabs-wrap {
	border: 0 none;
	border-bottom: 1px solid #8db2e3;
}

.x-layout-panel .x-tabs-bottom .x-tabs-wrap {
	border: 0 none;
	border-top: 1px solid #8db2e3;
}

.x-layout-nested-layout .x-layout-panel-north {
	border-bottom: 1px solid #99bbe8;
}

.x-layout-nested-layout .x-layout-panel-south {
	border-top: 1px solid #99bbe8;
}

.x-layout-nested-layout .x-layout-panel-east {
	border-left: 1px solid #99bbe8;
}

.x-layout-nested-layout .x-layout-panel-west {
	border-right: 1px solid #99bbe8;
}

.x-layout-panel-dragover {
	border: 2px solid #99bbe8;
}

.x-layout-panel-proxy {
	background-image: url(../images/default/layout/gradient-bg.gif);
	background-color: #f3f2e7;
	border: 1px dashed #99bbe8;
}

.x-layout-container .x-layout-tabs-body {
	border: 0 none;
}
/** Resizable */
.x-resizable-proxy {
	border: 1px dashed #3b5a82;
}

/* grid */
.x-grid-hd-text {
	color: #15428b;
	font-weight: bold;
}

.x-grid-locked .x-grid-body td {
	background: #FBFDFF;
	border-right: 1px solid #deecfd;
	border-bottom: 1px solid #deecfd !important;
}

.x-grid-locked .x-grid-body td .x-grid-cell-inner {
	border-top: 0 none;
}

.x-grid-locked .x-grid-row-alt td {
	background: #F5FAFE;
}

.x-grid-locked .x-grid-row-selected td {
	color: #fff !important;
	background-color: #316ac5 !important;
}

.x-grid-hd {
	border-bottom: 0;
	background: none;
}

.x-grid-hd-row {
	height: auto;
}

.x-grid-hd-over {
	border-bottom: 0 none;
}

.x-grid-hd-over .x-grid-hd-body {
	background: none;
	border-bottom: 0 none;
}

.x-grid-hd-over .x-grid-hd-body {
	background-color: transparent;
	border-bottom: 0;
}

.x-grid-split {
	background-image: url(../images/default/grid/grid-blue-split.gif);
}

.x-grid-header {
	background: url(../images/default/grid/mso-hd.gif);
	border: 0 none;
	border-bottom: 1px solid #6f99cf;
}

.x-grid-row-alt {
	background-color: #f5f5f5;
}

.x-grid-row-over td,.x-grid-locked .x-grid-row-over td {
	background: #d9e8fb;
}

.x-grid-col {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.x-grid-header .x-grid-hd-inner {
	padding-bottom: 1px;
}

.x-grid-header  .x-grid-hd-text {
	padding-bottom: 3px;
}

.x-grid-hd-over .x-grid-hd-inner {
	border-bottom: 1px solid #316ac5;
	padding-bottom: 0;
}

.x-grid-hd-over .x-grid-hd-text {
	background: #F5FAFE;
	border-bottom: 1px solid #fff;
	padding-bottom: 2px;
}

.x-grid-header .sort-asc .x-grid-hd-inner,.x-grid-header .sort-desc .x-grid-hd-inner
	{
	border-bottom: 1px solid #316ac5;
	padding-bottom: 0;
}

.x-grid-header .sort-asc  .x-grid-hd-text,.x-grid-header .sort-desc .x-grid-hd-text
	{
	border-bottom: 0 none;
	padding-bottom: 3px;
}

.x-grid-header .sort-asc .x-grid-sort-icon {
	background-image: url(../images/default/grid/sort_asc.gif);
}

.x-grid-header .sort-desc .x-grid-sort-icon {
	background-image: url(../images/default/grid/sort_desc.gif);
}

.x-dd-drag-proxy .x-grid-hd-inner {
	background: #ebeadb url(../images/default/grid/mso-hd.gif) repeat-x;
	height: 22px;
	width: 120px;
}
/** Toolbar */
.x-toolbar {
	padding: 3px 2px 3px 2px;
}

.x-toolbar .ytb-sep {
	background-image: url(../images/default/grid/grid-blue-split.gif);
}

.x-toolbar .x-btn-over .x-btn-left {
	background: url(../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0
		0;
}

.x-toolbar .x-btn-over .x-btn-right {
	background: url(../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0
		-21px;
}

.x-toolbar .x-btn-over .x-btn-center {
	background: url(../images/default/toolbar/tb-btn-sprite.gif) repeat-x 0
		-42px;
}

.x-toolbar .x-btn-click .x-btn-left,.x-toolbar .x-btn-pressed .x-btn-left,.x-toolbar .x-btn-menu-active .x-btn-left
	{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0
		-63px;
}

.x-toolbar .x-btn-click .x-btn-right,.x-toolbar .x-btn-pressed .x-btn-right,.x-toolbar .x-btn-menu-active .x-btn-right
	{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0
		-84px;
}

.x-toolbar .x-btn-click .x-btn-center,.x-toolbar .x-btn-pressed .x-btn-center,.x-toolbar .x-btn-menu-active .x-btn-center
	{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) repeat-x 0
		-105px;
}